   <%- include('header')%>
   
    <h2>Anderson Vinicius Bellini</h2>

    <div>
        <h3>System Analist FullStack</h3>
        <ul>
            <li>I´m Developer using Asp.Net with C#</li>
            <li>Nowadays I am studying ReactJs and React Native</li>
            <li>To improve the knowledge and to perform better my activities</li>
        </ul>
        My e-mail to Contact is <a href="mailto:andersonunip@gmail.com">andersonunip@gmail.com</a>
        <br>or in my <a href="https://linkedin.com/in/abellini/">LinkedIn</a>
    </div>

    <%- include('footer')%>  

